/* 
    Document   : blackglass
    Created on : 18-Jan-2013, 19:00:48
    Author     : OPPDelta
    Description:
        Black Glazz Theme - Created By OPPDelta - OPPDesigns.
*/

root { 
    display: block;
}

html, body {
    width: 100%;
    margin: 0;
    height: 100%;
    padding: 0;
    background: url("../images/main/splashBG.jpg") #121212 center no-repeat fixed;
    color: #f3f3f3;
    font-family: Verdana, 'Comic Sans', Times;
    font-size: 12px;
}

#wrapper {
    margin: auto;
    padding: 0;
    width: 950px;
    padding-top: 60px;
    text-align: center;
}


.logo {
    background-image: url("../images/main/logo.png");
    background-color: transparent;
    background-repeat: no-repeat;
    width: 385px;
    height: 110px;
    display: block;
    float: left;
    margin-left: 50px
}

.ipInfo {
    background-image: url("../images/main/ipInfo.png");
    background-position: right;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 380px;
    height: 110px;
    display: block;
    float: right;
    margin-right: 50px;
}

.clear {
    clear: both;
}

.containertop {
    margin: 0 auto;
    padding: 0;
    width: 640px;
    background-image: url("../images/main/containertop.png");
    background-repeat: no-repeat;
    height: 17px;
}

form {
    margin: 0;
    padding: 0;
}

.registrationForm {
    width: 640px;
    margin: 0 auto;
    padding: 5px;
    background-image: url("../images/main/containerbg.png");
    border: 1px solid #717171;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    -moz-box-shadow: 5px 5px 9px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 9px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 9px rgba(0,0,0,0.4);
    height: auto;
}

.box {
    width: 300px;
    margin: 10px;
    padding: 15px;
    background-image: url("../images/main/containerbg.png");
    border: 1px solid #717171;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    -moz-box-shadow: 5px 5px 9px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 9px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 9px rgba(0,0,0,0.4);
    height: auto;
    display: inline-block;
}


.box h1 {
    
    text-align: center;
    font-family: arial, times, "sans serif";
    
}
.containerbottom {
    margin: 0 auto;
    padding: 0;
    width: 640px;
    background-image: url("../images/main/containerbottom.png");
    background-repeat: no-repeat;
    height: 17px;
}

input.text {
    background: transparent;
    padding: 5px;
    border: 1px solid #717171;
    -moz-border-radius: 9px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -khtml-border-radius: 9px;
    background-image: url("../images/main/white15.png");
    color: #ffffff;
    margin: 0;
    height: 30px;
    text-align: center;
    font-size: 13px;
    font-family: Verdana, 'Comic Sans', Times;
    width: 200px;
}

#registerList {
    text-decoration: none;
    padding: 0;
    margin: 15px;
}

.registerListElement {
    list-style: none;
    text-decoration: none;
    height: 50px;
}

.registerLabel {
    background: transparent;
    padding: 4px;
    width: 160px;
    display: inline-block;
    margin: 0;
    text-align: right;
    z-index: 50;
    font-size: 15px;
    font-family: Verdana, 'Comic Sans', Times;
}

.button {
    background: transparent;
    width: 160px;
    padding: 10px;
    font-size: 15px;
    font-family: Verdana, 'Comic Sans', Times;
    border: 1px solid #717171;
    -moz-border-radius: 9px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -khtml-border-radius: 9px;
    background-image: url("../images/main/blue10.png");
    color: #ffffff;
    margin: 10px;
    float: right;
}

.button:hover {
    background: transparent;
    background-image: url("../images/main/blue20.png");
    color: #f3f3f3;

}