/* 
    Document   : launcherStyle
    Created on : 17-Jun-2013, 16:38:45
    Author     : OPPDelta
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

html, body {
    padding:0;
    margin:0;
    height: 100%;
    width: 100%;
}

#wrapper {
    background-image: url("http://oppcraft.oppdelta.co.uk/images/launcher/bg.png");
    background-position: top right;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    min-height: 480px;
    min-width: 648px;
}

nav {
    
    float: right;
    width: 23%;
    height: 100%;
    background-color: #082635;
    opacity:0.9;
    filter:alpha(opacity=90);
    border-left: 5px solid rgb(255, 255, 255);
    border-left: 5px solid rgba(255, 255, 255, .1);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}
#logo {
    margin: 4% auto;
    width: 90%;
    height: 13%;
    background-size: 100% 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url("http://oppcraft.oppdelta.co.uk/images/launcher/launcherlogo.png");
}

.button {
    background-color: orange;
    border: none;
    display: block;
    width: 94%;
    height: 12%;
    margin: 0 auto;
}