/* 
    Document   : Version2
    Created on : 18-Jan-2013, 19:00:48
    Author     : OPPDelta
    Description:
        Version 2(Launcher Clean) - Created By OPPDelta - OPPDesigns.
*/

root { 
    display: block;
    letter-spacing:1px;
}

img {
    border: none;
}

html, body {
    letter-spacing:1px;
    width: 100%;
    margin: 0;
    min-height: 100%;
    padding: 0;
    font-family: Arial,Verdana,'Comic Sans', Times;
    font-size: 15px;

}
.mainlogo {
    width: 200px;
    height: 70px;
    -moz-box-shadow: inset -5px 0 10px -5px #000;
    -webkit-box-shadow: inset -5px 0 10px -5px #000;
    box-shadow: inset -5px 0 10px -5px #000;
    text-align: center;
    padding: 10px 0 0 0;
    background-color: #373737;
    background-image: url('../images/main/noise60.png');
}
.mainheader {
    background-color: #5e5e5e;
    height: 70px;
    width: 100%;
    padding: 10px 0 0 0;
    text-align: center;
    background-image: url('../images/main/noise60.png');
    text-shadow: 1px 1px 0px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=1);
}

#wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
}

.mainLeft {
    width: 200px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    background-color: #082534;
    background-image: url('../images/main/noise60.png');
    background-repeat: repeat;
    -moz-box-shadow: inset -5px 0 10px -5px #000;
    -webkit-box-shadow: inset -5px 0 10px -5px #000;
    box-shadow: inset -5px 0 10px -5px #000;
    text-shadow: 1px 1px 0px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=1);
}

.mainRight {
    min-width: 1050px;
    max-width: 1900px;
    padding: 0;
    margin: 0;
    vertical-align: text-top;
    
}

.mainMenu {
    border-left: #417183;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.mainMenu img {
    display: inline;
    margin: 0;
    padding: 0;
    margin: -10px 25px 0 -42px;
    vertical-align: text-top;
    width: 35px;
    height: 35px;
}

.mainMenu li {
    border-left: 50px solid #417183;
    height: 35px;
    padding: 20px 0 0 0;
    margin: 0 0 1px 0;
    font-size: 14px;
}

.mainMenu li:hover {
    background-color: #0e374e;
    -moz-box-shadow: inset -5px 0 10px -5px #000;
    -webkit-box-shadow: inset -5px 0 10px -5px #000;
    box-shadow: inset -5px 0 10px -5px #000;
    background-image: url('../images/main/noise60.png');
}

.mainMenu a {
    color: white;
    text-decoration: none;
}
.registerLi {
    background-color: #03a730;
    -moz-box-shadow: inset -5px 0 10px -5px #000;
    -webkit-box-shadow: inset -5px 0 10px -5px #000;
    box-shadow: inset -5px 0 10px -5px #000;
    background-image: url('../images/main/noise60.png');
}
.loginLi {
    background-color: #363828;
    -moz-box-shadow: inset -5px 0 10px -5px #000;
    -webkit-box-shadow: inset -5px 0 10px -5px #000;
    box-shadow: inset -5px 0 10px -5px #000;
    background-image: url('../images/main/noise60.png');
}

.box {
    display: inline-block;
    color: #f9f9f9;
    font-size: 1.1em;
    width: 24%;
    text-align: center;
    padding: 1.1em;
    margin: 0;
}

.contentBoxWide {
    width: 92%;
    border: 1px solid #d6d6d6;
    background-color: #f6f6f6;
    padding: 20px 20px 30px 20px;
    margin: 20px auto;
    -webkit-box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    0px 0px 11px rgba(0, 0, 0, 0.3);
    box-shadow:         0px 0px 11px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

h1 {
    font-family: Arial,Verdana,'Comic Sans', Times;
    font-size: 18px;
    border-bottom: 1px solid #9c9c9c;
    width: 100%-40px;
    margin: -28px 0 0 0;
    padding: 0 0 8px 40px;
    font-weight: 400;
    background-image:url('images/icons/Alert.png');
}


#registerForm fieldset {
    padding: 12px;
    margin: 0 25px 15px 25px;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    0px 0px 4px rgba(0, 0, 0, 0.3);
    box-shadow:         0px 0px 4px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #d6d6d6;
    position: relative;
}

#registerForm legend {
    font-weight: bold;
    margin-bottom: 5px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
}

.registerFormList {
    font-family: Verdana,'Comic Sans', Times;
    font-size: 14px;
    margin: 45px 0 0 0;
    padding: 0;
}

.registerFormList li {
    list-style: none;
    margin: 6px;
}

label{
    width: 160px;
    display:inline-block;
    text-align: right;
    margin-left: 30px;
}

label.small {
    width: 70px;
    display:inline-block;
    text-align: right;
    margin-left: 30px;
}

input {
    background-color: #ebebeb;
    border: 1px solid #d6d6d6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 7px;
    margin: 0 0 0 5px;
    color: #3e3e3e;
    letter-spacing:2px;
    display: inline;
}

.greenButton {
    background-color: #2ba966;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 15px 10px 15px;
    font-size: 1em;
    color: #f9f9f9;
    display: inline-block; 
    border: 1px solid #399765;
    margin-left: 25px;
    background-image: url('../images/main/noise60.png');
}

.greenButton:hover {
    background-color: #3dba78;
}

span.fullWidthRight {
    width: 94%;
    text-align: right;
    display: block;
    margin: 0 auto;
    padding: 0;
}

#loginformmain {
    width: 400px;
}

#loginformmain ul {
    text-align: right;
    list-style: none;
    margin: 30px 0 0 30px;
    padding: 20px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #d6d6d6;
}

#loginformmain ul li {
    margin: 8px;
}